# Kredensial Supabase untuk Website E-Voting SIT Harapan Umat
VITE_SUPABASE_URL=https://cdpxdysfxzkybbxqnwdq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNkcHhkeXNmeHpreWJieHFud2RxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcyNDAwODAsImV4cCI6MjEwMjgxNjA4MH0.3WwRM3OM82FFQnt1BcUi9mSlmXXkCwZN1pULflfv3YA
